<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>BookFinder</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<style>
	.pointer{
		cursor: pointer;
	}
	.searchSort.on{
		color: orange;
		font-weight: bolder;
	}
	.fa-stack i.fa-star {
	    color:transparent;
	    -webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: orange;
	}	
	.fa-stack i.fa-star.on {
	    color:orange;
	    -webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: orange;
	}	
	
	
</style>
<script>
var table = null;
var orderObj = {
	0:{name:"title",type:"string"},
	1:{name:"authors",type:"string"},
	2:{name:"category",type:"string"},
	3:{name:"price",type:"number"},
	4:{name:"publisher",type:"string"},
	5:{name:"thumbnail",type:"string"},
	6:{name:"sale_yn",type:"string"},
	7:{name:"bookmark",type:"string"}
};

$(document).ready(function(){	
	$("#btn_search").click(function(){
		fn_search();
	});
	$("#searchKeyword").keyup(function(e){
		if(e.keyCode==13){
			fn_search();
		}
	});
	$(".searchSort").click(function(){		
		$(".searchSort").removeClass("on");
		$(this).addClass("on");	
		
		var target = $("#searchKeyword");
		var tv = target.val();		
		if(tv != null && tv != ""){			
			fn_search();
		}			
	});
	$("#btn_logout").click(function(){
		location.href="/logout";
	})
});
$(document).on("click",".btn_bookmark",function(){
	//-1보다 크면 빈 별 표시. 북마크 등록 안된 것
	var starObj = $(this).find("i");
	var starClass = starObj.prop("class");
	var isBookmark = starClass.indexOf("on")>-1;
	var param={
		bookmarkId:0,
		isbn:starObj.attr("isbn")
	}	
	console.log(param);
	var ajaxUrl = ""
	if(isBookmark){
		//북마크에 등록되었던 상태라면 delete하고 클래스 변경
		starObj.removeClass("on");
		ajaxUrl = '/bookFinder/deleteBookmark';
	}else{
		starObj.addClass("on");
		ajaxUrl = '/bookFinder/saveBookmark';
	}
	
	$.ajax(ajaxUrl, {
	    type: 'POST',  // http method
	    data: param,
	    success: function (data, status, xhr) {
	    	console.log(data);
	    },
	    error: function (jqXhr, textStatus, errorMessage) {
	    	console.log(jqXhr);
	    }
	});

})
function fn_initTable(){
	var pageSize = 10;
	table = $('#booksTable').DataTable({		 

		"autoWidth"  : true,
		"ordering" : true,
		"pageLength" : pageSize,	
		"lengthChange": false, 
		"paging"     : true,
		"pagingType": "full_numbers",
		"scrollY": 420,   	
		"stateSave"  : true,
		"responsive" : true,
		"searching"  : false,  	
		"serverSide" : true,
		"bInfo" : false,
		ajax : {
			processing: true,
		    serverSide: true,
			url : "/kakaoApi/v2/search/book",
	        type: "GET",	       
	        data: function (data) { 	  
	        	console.log(data);
	        	var page = (data.start/pageSize)+1;
	        	return {
	        		query : $("#searchKeyword").val(),
			 		sort: orderObj[data.order[0].column].name,
			 		sortType: orderObj[data.order[0].column].type,
			 		sortDir : data.order[0].dir,
			 		page : page,
			 		size : pageSize,
			 		target : $("#searchTarget option:selected").val(),
			 		category : ''
	        	};
	        },      
	       	dataSrc: function (json) {     
	       		console.log(json);
	       		json.recordsTotal = json.meta.pageable_count;
	       	    json.recordsFiltered = json.meta.pageable_count;
	       	    if(json.recordsTotal > 500){
	       	    	json.recordsTotal=500;
	       	    }
	       	 	if(json.recordsFiltered > 500){
	       	    	json.recordsFiltered=500;
	       	    }
				return json.documents;
	        },
			error:function(e){
				console.log(e);
			}
	    },
	    "columns": [    	 
			{ "data": "title", "name": "도서 제목"},
			{ "data": "authors", "name": "저자"},
			{ "data": "category", "name": "분류"},			
			{ "data": "price", "name": "가격", "render": $.fn.dataTable.render.number(',') },
			{ "data": "publisher", "name": "출판사"},
			{ "data": "thumbnail", 
				"render": function (url) {				
		        	return '<img src="'+url+'">';
		  		}
			},
			{ "data": "status", "name": "상태"},	
			{ "data": "bookmark", "name": "즐겨찾기", 
				"render":function(data,type,row,meta){							
					var starTag = '';
					if(row.isbn.trim() != ''){
						if(data=="Y"){
							starTag = '<span class="fa-stack btn_bookmark pointer"><i class="fa fa-fw fa-lg fa-star on fa-stack-1x" aria-hidden="true" isbn="'+row.isbn+'"></i><span>';
						}else{
							starTag = '<span class="fa-stack btn_bookmark pointer"><i class="fa fa-fw fa-lg fa-star fa-stack-1x" aria-hidden="true" isbn="'+row.isbn+'"></i><span>';
						}
					}					
					return starTag;
				}
			}
		]
	});
}
function fn_validate(){
	
	var target = $("#searchKeyword");
	var tv = target.val();	
	if(tv == null || tv == ""){
		alert("검색어는 필수입니다.");
		return false;
	}
	
	return true;
}
function fn_search(){ 
	if(fn_validate()){
		if(table==null){
			fn_initTable();
		}else{
			table.ajax.reload();	
		}
	}	
}
</script>

</head>
<body>
<div class="card">
    <div class="card-body">
    	<div class="row"> 
	    	<div class="col-md-11 mb-3 text-right">
	    		
	    	</div> 
	    	<div class="col-md-1 mb-3 text-right">
	    		<button type="button" class="btn btn-dark" id="btn_logout">로그아웃</button>
	    	</div>    	
		</div>
        <!-- Grid row -->
        <div class="row mb-3 form-inline" >
            <!-- Grid column -->
            <div class="col-md-4">    
            	<div class="input-group md-form form-sm form-2 pl-0 mb-0"> 
					<ul class="list-inline">
					  <li class="pointer list-inline-item searchSort on">최신순</li>
					  <li class="pointer list-inline-item searchSort">정확도순</li>
					  <li class="pointer list-inline-item searchSort">판매량순</li>
					</ul>
				</div>
            </div>            
            <div class="col-md-4">      
            	<div class="input-group md-form form-sm form-2 pl-0 mb-0"> 
	            	<label  class="mr-sm-2 mb-0" for="searchTarget">
	            		검색대상
	            	</label>     	
	            	<select id="searchTarget" class="custom-select">
	            		<option value="all">전체</option>
	            		<option value="title">제목</option>
	            		<option value="isbn">ISBN</option>
	            		<option value="keyword">주제어</option>
	            		<option value="contents">목차</option>
	            		<option value="overview">책소개</option>
	            		<option value="publisher">출판사</option>
	            	</select>
            	</div>
            </div>         
            <div class="col-md-4">               	      
                <div class="input-group md-form form-sm form-2 pl-0 mb-0">
                	<label  class="mr-sm-2 mb-0" for="searchKeyword">
	            		검색어
	            	</label>   
					<input class="form-control my-0 py-1 grey-border" type="text" placeholder="Search" aria-label="Search" id="searchKeyword">
                    <div class="input-group-append pointer" id="btn_search">
                        <span class="input-group-text waves-effect grey lighten-3" id="basic-addon1">
                            <a><i class="fa fa-search text-grey" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!--Table-->
        <table class="table table-striped" id="booksTable">
        	<colgroup>
        		<col width="25%">
        		<col width="10%">
        		<col width="10%">
        		<col width="10%">
        		<col width="10%">
        		<col width="10%">
        		<col width="10%">
        		<col width="*">
        	</colgroup>        	
            <!--Table head-->
            <thead>            	
                <tr>
                    <th>도서명</th>
                    <th>저자</th>
                    <th>분류</th>
                    <th>가격(원)</th>
                    <th>출판사</th>
                    <th>이미지</th>     
                    <th>판매여부</th> 
                    <th>즐겨찾기</th>                        
                </tr>
            </thead>
            <!--Table head-->
        </table>
        <!--Table-->

    </div>
</div>
</body>
</html>