<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<style>
	.selector-for-some-widget {
	  box-sizing: content-box;
	}
	.input-group.md-form.form-sm.form-2 input {
	    border: 1px solid #bdbdbd;
	    border-top-left-radius: 0.25rem;
	    border-bottom-left-radius: 0.25rem;
	}
	.input-group.md-form.form-sm.form-2 input.grey-border  {
	    border: 1px solid #e9ecef;
	}
	.input-group input[type=text]:focus:not([readonly]) {
	    box-shadow: none;
	}
	.form-2 .input-group-text {
	    border: 1px solid #e9ecef;
	}
	.pointer{
		cursor: pointer;
	}
	.searchSort.on{
		color: orange;
		font-weight: bolder;
	}
</style>
<script>
var table = null;
var orderObj = {
	0:"accuracy",
	1:"recency",
	2:"sales"
}
$(document).ready(function(){	
	$("#btn_search").click(function(){
		fn_search();
	});
	$("#searchKeyword").keyup(function(e){
		if(e.keyCode==13){
			fn_search();
		}
	});
	$(".searchSort").click(function(){
		$(".searchSort").removeClass("on");
		$(this).addClass("on");
		fn_search();
	})
});
function fn_initTable(){
	table = $('#booksTable').DataTable({		 

		"autoWidth"  : true,
		"ordering" : false,
		"pageLength" : 10,	
		"bLengthChange": false, 
		"paging"     : true,
		"pagingType": "full_numbers",
		"scrollY": 420,   	
		"stateSave"  : true,
		"responsive" : true,
		"searching"  : false,  	
		"serverSide" : true,
		"bInfo" : false,
		ajax : {
			processing: true,
		    serverSide: true,
			url : "/kakaoApi/v2/search/book",
	        type: "GET",	       
	        data: function (data) { 
	        	console.log(data);
	        	return {
	        		query : $("#searchKeyword").val(),
			 		sort: orderObj[$(".searchSort.on").index()],
			 		page : (data.start/10)+1,
			 		size : 10,
			 		target : 'all',
			 		category : ''
	        	};
	        },      
	       	dataSrc: function (json) {       
	       		console.log(json);
				return json.documents;
	        },
			error:function(e){
				console.log(e);
			}
	    },
	    "columns": [    	 
			{ "data": "title", "name": "도서 제목"},
			{ "data": "authors", "name": "저자"},
			{ "data": "category", "name": "분류"},
			{ "data": "price", "name": "가격", "render": $.fn.dataTable.render.number(',') },
			{ "data": "thumbnail", 
				"render": function (url) {				
		        	return '<img src="'+url+'">';
		  		}
			}
		]
	});
}

function fn_search(){ 
	if(table==null){
		fn_initTable();
	}else{
		table.ajax.reload();	
	}
}
</script>

</head>
<body>
<div class="card">
    <div class="card-body">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-3">
            	<span class="searchSort on pointer">최신순</span>
            	<span class="searchSort pointer">정확도순</span>
            	<span class="searchSort pointer">판매량순</span>
            </div>
            <div class="col-md-6">
            	
            </div>
            <div class="col-md-3">
                <div class="input-group md-form form-sm form-2 pl-0 mb-0">
                    <input class="form-control my-0 py-1 grey-border" type="text" placeholder="Search" aria-label="Search" id="searchKeyword">
                    <div class="input-group-append" id="btn_search">
                        <span class="input-group-text waves-effect grey lighten-3" id="basic-addon1">
                            <a><i class="fa fa-search text-grey" aria-hidden="true"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <!--Table-->
        <table class="table table-striped" id="booksTable">
        	<colgroup>
        		<col width="20%">
        		<col width="20%">
        		<col width="20%">
        		<col width="20%">
        		<col width="*">
        	</colgroup>        	
            <!--Table head-->
            <thead>            	
                <tr>
                    <th>도서명</th>
                    <th>저자</th>
                    <th>분류</th>
                    <th>가격</th>
                    <th>이미지</th>
                </tr>
            </thead>
            <!--Table head-->
        </table>
        <!--Table-->

    </div>
</div>
</body>
</html>